.place-order-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  padding: 40px 5%; 
 
  box-sizing: border-box;
  background-color: #F1F8E8;
}

.place-order-left,
.place-order-right {
  flex: 1 1 400px;
  max-width: 600px;
  box-sizing: border-box;
  margin-top: 70px;
}


.place-order-left .title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}


.place-order-left input {
  margin-bottom: 12px;
  width: 100%;
  padding: 10px;
  border: 1px solid gray;  
  border-radius: 4px;
  outline-color: #6f9d34;
  box-sizing: border-box;
}

.place-order-left .multi-field-input {
  display: flex;
  gap: 10px;
}


.place-order-left .multi-field-input input {
  flex: 1;
  min-width: 0;
}


.place-order-right .cart-total {
    margin-top: 10px;
  background: #fcfff3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(67, 112, 9, 0.583);
}


.cart-checkout-placeorder {
  border: none;
  color: white;
  background-color: rgb(100, 200, 100);
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
  transition: background 0.3s ease;
  margin-top: 18px;
  max-width: 120px;
  
}


@media (max-width: 768px) {
  .place-order-container {
    flex-direction: column;
    padding: 20px;
  }

  .place-order-left,
  .place-order-right {
    width: 100%;
    max-width: 100%;
  }
}
